<html>
	<head>
		<title>点度后台管理</title>
		<include file="Common:head"/>
	</head>
	<body>
		<div class="wrapper admin">
			<include file="Common:adminHeader"/>
			<div class="middle-content">
				<include file="Common:adminSidebar"/>
				<div class="content pull-right">
					<div class="dashboard">
						<h1 class="headline text-center bold">面板</h1>

						<?php 
							// $Dao = A('Admin');
							// $result = $Dao -> sendPhoneMessage();
							// var_dump($result);
						 ?>


					</div>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>