<html>
	<head>
		<title>点度后台管理</title>
		<include file="storeCommon:head"/>
		<style>
			table tbody tr { transition: all 0.3s ease-in-out; }
			table tbody tr td span { display: inline-block; padding: 0 3px; }
			.no-view { background: #2e3252 !important; color: #fff !important; border-top: 1px solid #fff; }
			.no-view span i { color: #fff; }
			.detail-control { margin-top: 5px; }
			.detail-control .detail-add { width: 50%; margin-right: 10px; }
			.member-entry { margin-top: 5px; display: inline-block; width: 100%; }
			.member-entry input { width: 27%; margin-right: 3.33%; }
			.jagoFancybox .box { width: 45%; }
			.jagoFancybox .box .box-left { width: 49%; float: left; }
			.jagoFancybox .box .box-right { width: 49%; float: right; }
		</style>
	</head>
	<body>
		<div class="wrapper admin">
			<include file="storeCommon:alert"/>
			<include file="storeCommon:adminHeader"/>
			<div class="middle-content">
				<include file="storeCommon:adminSidebar"/>
				<div class="content pull-right">
					<div class="account-manage">
						<h1 class="headline text-center bold"><?php echo $category['category_name']?></h1>

						<div class="tools">
							<ul>
									<li>
										<p><a class="btn btn-tools btn-add-brand" href="#"><i class="icon-plus-sign-alt"></i> 添加菜品</a></p>
									</li>
							</ul>
						</div>

						<table class="table table-striped table-hover">
							<thead>
								<tr>
									<td width="15%">名称</td>
									<td width="15%">图片</td>
									<td width="15%">价格</td>
									<td width="15%">餐盒费</td>
									<td width="15%">备注</td>
									<td width="15%">上架</td>
									<td width="20%">操作</td>
								</tr>
							</thead>
							<tbody>
								<?php foreach($dish as $k=>$v){?>
								 <tr>
								 	<td><?php echo $v['dish_name']; ?></td>
									<td><img style="width: 100px;" class="photo-ctn mg-top" src="<?php echo $v['img']; ?>" alt=""></td>
									<td>￥<?php echo $v['price']/100; ?></td>
									<td>￥<?php echo $v['wrap_fee']; ?></td>
									<td><?php echo $v['backup']; ?></td>
									<td><?php if($v['is_sale']==0){ echo "上架";}else{echo "下架";}; ?></td>			
								 	<td>
								 			<!-- <span><a href="{:U('Admin/accountDelete', array('id' => $val['id']))}"><i class="icon-trash"></i></a></span> -->
								 			<span><a href="javascript:;" title="删除" data-id="<?php echo $v['id']; ?>" data-tag="<?php echo $v['dish_name'] ?>" class="jagoFancybox-delete"><i class="icon-trash"></i></a></span>
								 			<span><a href="javascript:;" title="编辑" data-id="<?php echo $v['id']; ?>" data-tag="<?php echo $v['dish_name'] ?>" class="jagoFancybox-edit"><i class="icon-edit"></i></a></span>							 
								 	</td >
								 </tr>
								<?php }?>
							</tbody>
						</table>

						
			<div class="jagoFancybox">
			<div class="cus-table">
				<div class="cus-table-cell">
					<div class="box box-1">
						<div class="jagoFancybox-confirm-ctn">
							<div class="jagoFancybox-head">
								<h4 class="title">店铺删除 <a href="#"><i class="icon-remove-sign pull-right jagoFancybox-cancel"></i></a></h4>
							</div>
							<form action="{:U('Store/dishDelete')}">
								<div class="jagoFancybox-body">
									<p class="jagoFancybox-headline">是否删除?</p>
									<p class="jagoFancybox-content bold"></p>
									<div class="none">
										<input type="text" name="id">
										 <input name="category_id" value="<?php echo $category[id]?>" type="hidden" class="form-control" id="store_id" placeholder="菜系" autocomplete="off" required="">
									</div>
								</div>
								<div class="jagoFancybox-btn">
									<button type="submit" class="btn btn-primary pull-left" href="#">确认</button>
									<a class="btn btn-default pull-right jagoFancybox-cancel" href="#">取消</a>
								</div>
							</form>
						</div>
					</div>

					<div class="box box-2">
						<div class="add-hotel panel panel-default">
							<div class="panel-heading">
								<h4 class="title">添加菜品<a href="#"><i class="icon-remove-sign pull-right jagoFancybox-cancel"></i></a></h4>
							</div>
								<div class="panel-body">
									<form class="adminLogin" role="form" enctype="multipart/form-data" action="{:U('Store/dishAdd')}" method="POST">
										<div class="box-left">
										  <div class="form-group">
										    <label for="dish_name">名称</label>
										    <input name="dish_name" type="text" class="form-control" id="dish_name" placeholder="菜品名称" autocomplete="off" required="">
										    <input name="category_id" value="<?php echo $category['id']?>" type="hidden" class="form-control" id="category_id" placeholder="菜品名称" autocomplete="分类ID" required="">
										  </div>
										  
										  
					
										  <div class="form-group">
										    <label for="price">价格</label>
										    <input name="price" type="text" class="form-control" id="price" placeholder="价格" autocomplete="off" required="">
										  </div>
										  
										  <div class="form-group">
										    <label class="" for="img">图片</label>
										    <input name="img" type="file" class="form-control" id="img" placeholder="图片" autocomplete="off" required="">
										  </div>
										   <!--<div class="form-group">
										    <label for="count">数量</label>
										    <input name="count" type="text" class="form-control" id="count" placeholder="数量" autocomplete="off" required="">
										  </div>-->
								
								
									</div>

									<div class="box-right">
									   	<!--<div class="form-group">
										    <label for="discount">折扣</label>
										    <input name="discount" type="text" class="form-control" id="discount" placeholder="折扣" autocomplete="off" required="">
										  </div>-->
									
										 <div class="form-group">
										    <label for="discount">餐盒费</label>
										    <input name="wrap_fee" type="text" class="form-control" id="wrap_fee" placeholder="餐盒费" autocomplete="off" required="">
										  </div>
										  
										<div class="form-group">
												      <label for="is_sale">是否上架</label>
												   <input name="is_sale"  type="radio" value="0" />上架&nbsp;&nbsp;
												    <input name="is_sale"  type="radio" value="1" />下架
										</div>
										  				
										  <div class="form-group">
										    <label for="backup">备注</label>
										    <textarea name="backup"  class="form-control" id="backup" placeholder="备注" autocomplete="off" ></textarea>
										  </div>

									</div>
									<div class="text-center width-all clear">
									  	<button type="submit" class="btn btn-primary btn-submit"><i class="icon-plus-sign-alt"></i> 添加</button>
									  	<p class="error-msg red pull-right"></p>
									  </div>		 
									</form>
								</div>
						</div>
					</div>
					<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
					<div class="box box-3">
						<div class="add-hotel panel panel-default">
							<div class="panel-heading">
								<h4 class="title">编辑菜品<a href="#"><i class="icon-remove-sign pull-right jagoFancybox-cancel"></i></a></h4>
							</div>
								<div class="panel-body">
									<form class="adminLogin" role="form" enctype="multipart/form-data" action="{:U('Store/dishEdit')}" method="POST">
										<div class="box-left">
										  <div class="form-group">
										    <label for="dish_name">名称</label>
										    <input name="dish_name" type="text" class="form-control" id="dish_name" placeholder="菜品名称" autocomplete="off" required="">
										     <input name="dish_id" type="hidden" class="form-control" id="dish_id" placeholder="菜品ID" autocomplete="off" required="">
										    <input name="category_id" value="<?php echo $category['id']?>" type="hidden" class="form-control" id="category_id" placeholder="菜品名称" autocomplete="分类ID" required="">
										  </div>

										  <div class="form-group">
										    <label for="price">价格</label>
										    <input name="price" type="text" class="form-control" id="price" placeholder="价格" autocomplete="off" required="">
										  </div>
										  
										  <div class="form-group">
										    <label class="" for="img">图片</label>
										    <input name="img" type="file" class="form-control" id="img" placeholder="图片" autocomplete="off" required="">
										  </div>
										   <!--<div class="form-group">
										    <label for="count">数量</label>
										    <input name="count" type="text" class="form-control" id="count" placeholder="数量" autocomplete="off" required="">
										  </div> -->
						
									</div>

									<div class="box-right">
									   
									   <!--<div class="form-group">
										    <label for="discount">折扣</label>
										    <input name="discount" type="text" class="form-control" id="discount" placeholder="折扣" autocomplete="off" required="">
										  </div>-->
											
										 <div class="form-group">
										    <label for="discount">餐盒费</label>
										    <input name="wrap_fee" type="text" class="form-control" id="wrap_fee" placeholder="餐盒费" autocomplete="off" required="">
										  </div>
										  
										  	<div class="form-group">
												      <label for="is_sale">是否上架</label>
												   <input name="is_sale"  type="radio" value="0" />上架&nbsp;&nbsp;
												    <input name="is_sale"  type="radio" value="1" />下架
										</div>
										  				
										  <div class="form-group">
										    <label for="backup">备注</label>
										    <textarea name="backup"  class="form-control" id="backup" placeholder="备注" autocomplete="off" ></textarea>
										  </div>

									</div>
									<div class="text-center width-all clear">
									  	<button type="submit" class="btn btn-primary btn-submit"><i class="icon-plus-sign-alt"></i> 编辑</button>
									  	<p class="error-msg red pull-right"></p>
									  </div>		 
									</form>
								</div>
						</div>
					</div>
					<!-- +++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++ -->
				</div>
			</div>
		

			</div>

					<style>
						table.table thead tr td { font-weight: bold; }
						.jagoFancybox .box { width: 20%; left: 40%; }
					</style>

					<script>
					(function ($) {
						$(function() {
							// tools add account
							$('.btn-add-account').on('click', function() {
								$('.jagoFancybox').addClass('active');
								$('.jagoFancybox .box-1').addClass('active');
							});

							$('.btn-add-brand').on('click', function() {
								$('.jagoFancybox').addClass('active');
								$('.jagoFancybox .box-2').addClass('active');
								return false;
							});
							
							$('table').on("click",'.jagoFancybox-delete',function(){
								var id=$(this).data('id');
								var tag=$(this).data('tag');
								$('.jagoFancybox .box-1').find('input').eq(0).val(id);
								$('.jagoFancybox .box-1').find('p').eq(0).text(tag)
								$('.jagoFancybox').addClass('active');
								$(".box-1").addClass('active');
							})
							
							
							$('table').on("click",'.jagoFancybox-edit',function(){
								var mythis=$(this);
								var id=$(this).data('id');
								$.ajax({
									'url':'/Home/Store/dishEdit',
									'type':'GET',
									'data':{"id":id},
									'dataType':'json',
									'success':function(res){
										$('.box-3').find('input').eq(0).val(res.data.dish_name)
										$('.box-3').find('input').eq(1).val(id);//给隐藏的ID赋值
										$('.box-3').find('input').eq(3).val(res.data.price/100)	
										$('.box-3').find('input').eq(5).val(res.data.wrap_fee)
										$('.box-3').find('textarea').eq(0).val(res.data.backup)
										if(res.data.is_sale==1){
											$('.box-3').find('input').eq(6).removeAttr('checked');
											$('.box-3').find('input').eq(7).attr('checked','checked');
										}else{
											$('.box-3').find('input').eq(7).removeAttr('checked');
											$('.box-3').find('input').eq(6).attr('checked','checked');
										}
									}
								})
								$('.jagoFancybox').addClass('active');
								$(".box-3").addClass('active');
							})
						});
					})(jQuery);
					</script>
				</div>
				<div class="clear"></div>
			</div>
		</div>
	</body>
</html>