<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<meta name="keywords" content="点度keywords" />
<meta name="description" content="点度科技">
<link rel="shortcut icon" href="__ROOT__/Public/logo.png" type="image/x-icon" />
<link rel="stylesheet" href="__ROOT__/Public/styles/reset.css">
<!-- <link rel="stylesheet" href="__ROOT__/Public/styles/bootstrap.css"> -->
<link rel="stylesheet" href="__ROOT__/Public/styles/bootstrap.min.css">
<!-- <link rel="stylesheet" href="__ROOT__/Public/styles/bootstrap-theme.css"> -->
<link rel="stylesheet" href="__ROOT__/Public/styles/bootstrap-theme.min.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/font-awesome.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/font-awesome-ie7.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/jquery-ui.min.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/jquery-ui.structure.min.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/jquery-ui.theme.min.css">
<link rel="stylesheet" href="__ROOT__/Public/styles/main.css">
<script src="__ROOT__/Public/scripts/jquery-3.1.1.min.js"></script>
<script src="__ROOT__/Public/scripts/jquery-ui.min.js"></script>
<script src="__ROOT__/Public/scripts/bootstrap.js"></script>
<script src="__ROOT__/Public/scripts/jagoFunction.js"></script>
<script src="__ROOT__/Public/scripts/main.js"></script>
